<h3>Add a Recipe</h3>
<%= form_for([@user, @user.recipes.build]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :ingredient_list, "MAIN ALLERGENS (separated by comas/line breaks)" %>
      <br/>
      <%= f.text_area :ingredient_list %>
    </div>

    <div class="field">
      <%= f.label :body, "COMPOSITION" %>
      <br/>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.label :image_url %>
      <br/>
      <%= f.text_field :image_url %>
    </div>

    <div class="field">
      <%= f.label :number_of_person, "Number of servings" %>
      <br/>
      <%= f.select :number_of_person, (1..99) %>
    </div>

    <div class="field">
      <%= f.label :prep_time, "Preparation Time" %>
      <br/>
      <%= f.select :prep_time, (1..300) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
