<h3>Add a Recipe</h3>
<%= form_for([@user, @user.recipes.build]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <br/>
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.label :image_url %>
      <br/>
      <%= f.text_field :image_url %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
