<p>
  <b>Title:</b>
  <%= link_to recipe.title, recipe %>
</p>

<p>
  <em>added by <%= link_to recipe.user.username, recipe.user %></em>
</p>

<p>
  <%= check_image(recipe) %>
</p>

<p>
  <b>Ingredients:</b>
  </p>
<p>
  <% local_array = ingredients_split(recipe.ingredient_list) %>
  <% if local_array.length > 50 %>
      <%= raw truncate(local_array, length: 50) %>
      <%= raw link_to_function '...More', "$(this).parent().html('#{escape_javascript local_array}')" %>
  <% else %>
      <%= raw local_array %>
  <% end %>
</p>

<p>
  <b>Instructions:</b>
</p>
<p>
  <% local_array = instructions_split(recipe.body) %>
  <% if local_array.length > 200 %>
      <%= raw truncate(local_array, length: 200) %>
      <%= raw link_to_function '...More', "$(this).parent().html('#{escape_javascript local_array}')" %>
  <% else %>
      <%= recipe.body %>
  <% end %>
</p>

<p>
  <%= link_to 'Destroy Recipe', [recipe.user, recipe],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>

<hr>


