<p>
  <b>Title:</b>
  <%= link_to recipe.title, recipe %>
</p>

<p>
  <% if recipe.image_url? %>
    <%= image_tag recipe.image_url, size: "120x120" %>
  <% else %>
    <%= %>
  <% end %>
</p>

<p>
  <b>Recipe:</b>
  <% if recipe.body.length > 50 %>
      <%= truncate(recipe.body, length: 50) %>
      <%= link_to_function '...More', "$(this).parent().html('#{escape_javascript recipe.body}')" %>
  <% else %>
      <%= recipe.body %>
  <% end %>
</p>

<p>
  <%= link_to 'Destroy Recipe', [recipe.user, recipe],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>

<hr>


