<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Ingredients</th>
    <th>Instructions</th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.title , recipe %></td>
    <td><%= check_image(recipe) %></td>
    <td><%= recipe.ingredient_list %></td>
    <td><%= recipe.body %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
