<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Body:</b>
  <%= @recipe.body %>
</p>

<p>
  <b>Parser:</b><br/>
  <% @local_array = ingreedyparse(@recipe.body) %>
  <%= raw @local_array.join('<br/>') %>
  <% %>
  <br/><br/>

</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
