<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <%= check_image(@recipe) %>
</p>

<p>
  <b>Ingredients:</b>
</p>
<p>
  <%= ingredients_split(@recipe.ingredient_list) %>
</p>

<p>
  <b>Instructions:</b>
</p>
<p>
  <%= ingredients_split(@recipe.body) %>
</p>

<p>
  <b>IngreedyParser:</b><br/>
  <% @local_array = ingreedyparse(@recipe.ingredient_list) %>
  <%= raw @local_array.join('<br/>') %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
