<%= form_for(@display_name) do |f| %>
  <% if @display_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@display_name.errors.count, "error") %> prohibited this display_name from being saved:</h2>

      <ul>
      <% @display_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :locale %><br />
    <%= f.select :locale_id, Locale.all.collect { |locale|  [locale.language, locale.id] } %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
