<p id="notice"><%= notice %></p>

<p>
  <b>Locale:</b>
  <%= @display_name.locale.language %>
</p>

<p>
  <b>Text:</b>
  <%= @display_name.text %>
</p>


<%= link_to 'Edit', edit_display_name_path(@display_name) %> |
<%= link_to 'Back', display_names_path %>
