<%= simple_form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <b>A Tag is a group of Display_names linking to a same Ingredient.</b><br/>
  For example, Ingredient with name 'almonds' refers to the following Display_names:<br/>
  14 : 'Nuts',<br/>
  21 : 'nuts (almonds)',<br/>
  36 : 'Fruits à coque',<br/>
  43 : 'Fruits à coque (amandes)',<br/>
  58 : 'Nüsse',<br/>
  65 : 'Nüsse (Mandeln)'<br/>
  <br/>
  Tag with id 8 is generically called "Nuts" and englobes display_names [14,36,58].<br/>
  Tag with id 15 is generically called "Nuts (almonds)" and englobes display_names [21,43,65].<br/>

</p>
  <div class="field">

    <%= f.association :display_names, :as => :check_boxes, :multiple => true,
                      :label => 'Choose Display names contained in the tag you want to create<br/>',
                      label_method: :text, value_method: :id, include_blank: true


    %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
