<h1>Listing tags</h1>

<table>
  <tr>
    <th>id</th>
    <th>Display names</th>

    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.id %></td>
    <td><%= tag.display_names.map {|dn| dn.text.to_s}.join(', ') %></td>

    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
