<p id="notice"><%= notice %></p>

<p>
  <b>Tag : <%=  @tag.id %></b>
</p>
<p>
  <b>Display names:</b> <br/>

  <% @tag.display_names.each do |dn| %>
    <%= dn.text %>
      <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
