<p id="notice"><%= notice %></p>

<p>
  <b>Tag : <%=  @tag.id %></b>
</p>
<table>
  <tr>
    <td>
      <b>Display names</b>
    </td>
    <td>
      <b>Locale</b>
    </td>
  </tr>
  <% @tag.display_names.each do |dn| %>
      <tr>
        <td>
          <%= dn.text %>
        </td>
        <td>
          <%= dn.locale.language %>
        </td>
      </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
